name: Translation issue

on:
  # At 7:00am UTC on the 1st of February, May, August, and November
  schedule:
    - cron: '0 7 1 2,5,8,11 *'
  workflow_dispatch:

permissions: {}

jobs:
  translation-issue:
    name: Translation issue
    # Only run cron on the silverstripe account
    if: (github.event_name == 'schedule' && github.repository_owner == 'silverstripe') || (github.event_name != 'schedule')
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Translation issue
        uses: silverstripe/gha-issue@v1
        with:
          title: Run translations
          description: |
            This is an automatically created issue used to run translations every 3 months.\n
            \n
            It was created by the `.github/workflows/translation-issue.yml` workflow in the [silverstripe/.github](https://github.com/silverstripe/.github/) repository.\n
            \n
            ### Triage instructions (Silverstripe Ltd CMS Squad)\n
            1. Put on the following labels:\n
               - `type/enhancement`\n
               - `impact/low`\n
               - `affects/v4`\n
               - `affects/v5`\n
            2. Move this issue to the "Ready" column on our internal zenhub board\n
            \n
            ### Implementation instructions:\n
            1. Create an install of kitchen-sink using the latest next-minor branch e.g. `5`\n
            2. Also install [silverstripe/tx-translator](https://github.com/silverstripe/silverstripe-tx-translator/)\n
            3. Follow the instructions in the `tx-translator` README.md and do a TX_PULL=0 TX_COLLECT=1 TX_PUSH=1 run.\n
            4. This may create lots of pull-requests. Paste links to these pull request on this issue.\n
            5. Once the pull-requests have been merged, create a new install of kitchen-sink using the oldest supported minor branch e.g. `4.13`\n
            6. Also install [silverstripe/tx-translator](https://github.com/silverstripe/silverstripe-tx-translator/)\n
            7. Follow the instructions in the `tx-translator` README.md and do a TX_PULL=1 TX_COLLECT=0 TX_PUSH=0 run.\n
            8. This will create lots of pull-requests. Paste links to these pull request on this issue.\n
